<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/styles.css">
    <title></title>
  </head>
  <body>
    <h1>It's <%= kindOfDay %></h1>
    <ul>

  <%    for (var i = 0; i < newListItems.length; i++) { %>
    <li><%= newListItems[i] %></li>

  <%  } %>

    </ul>
<form class="" action="/" method="post">
  <input type="text" name="userInput" value="">
  <button type="submit" name="">Add</button>
</form>
  </body>
</html>
