<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
  </head>
  <body>
    <h1>It's <%= kindOfDay %></h1>
    <ul>
      <li>A</li>
      <li>B</li>
      <li>C</li>
      <li> <%= newListItem %> </li>
    </ul>
<form class="" action="/" method="post">
  <input type="text" name="userInput" value="">
  <button type="submit" name="">Add</button>
</form>
  </body>
</html>
